USE [master]
GO
/****** Object:  Database [BRAMSELU]    Script Date: 8/5/2026 6:17:46 PM ******/
CREATE DATABASE [BRAMSELU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BRAMSELU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BRAMSELU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BRAMSELU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BRAMSELU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BRAMSELU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BRAMSELU]
GO
/****** Object:  Table [dbo].[Cajas]    Script Date: 8/5/2026 6:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cajas](
	[IdCaja] [int] IDENTITY(1,1) NOT NULL,
	[FechaApertura] [datetime] NULL,
	[FechaCierre] [datetime] NULL,
	[MontoInicial] [decimal](18, 2) NOT NULL,
	[TotalVentasEfectivo] [decimal](18, 2) NULL,
	[MontoFinal] [decimal](18, 2) NULL,
	[Estado] [varchar](20) NULL,
	[UsuarioApertura] [varchar](100) NULL,
	[TotalCompras] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 8/5/2026 6:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 8/5/2026 6:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[IdCita] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [varchar](20) NOT NULL,
	[IdServicio] [int] NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Estado] [varchar](30) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 8/5/2026 6:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Direccion] [varchar](200) NOT NULL,
	[TipoPiel] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 8/5/2026 6:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Total] [decimal](18, 2) NULL,
	[IdProveedor] [int] NULL,
	[NombreEmpleado] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 8/5/2026 6:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](18, 2) NULL,
	[Subtotal] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 8/5/2026 6:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 8/5/2026 6:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Identidad] [varchar](20) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](200) NULL,
	[Correo] [varchar](100) NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contrasena] [varchar](100) NOT NULL,
	[TipoUsuario] [varchar](20) NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 8/5/2026 6:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](100) NOT NULL,
	[Marca] [varchar](100) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[Imagen] [varbinary](max) NULL,
	[IdCategoria] [int] NULL,
	[Categoria] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 8/5/2026 6:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmpresa] [varchar](100) NOT NULL,
	[Contacto] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 8/5/2026 6:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[NombreServicio] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Duracion] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 8/5/2026 6:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime] NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[EfectivoRecibido] [decimal](18, 2) NOT NULL,
	[Cambio] [decimal](18, 2) NOT NULL,
	[IdCaja] [int] NULL,
	[IdCliente] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cajas] ON 

INSERT [dbo].[Cajas] ([IdCaja], [FechaApertura], [FechaCierre], [MontoInicial], [TotalVentasEfectivo], [MontoFinal], [Estado], [UsuarioApertura], [TotalCompras]) VALUES (1, CAST(N'2026-08-05T17:40:43.087' AS DateTime), NULL, CAST(1000.00 AS Decimal(18, 2)), CAST(2500.00 AS Decimal(18, 2)), CAST(2300.00 AS Decimal(18, 2)), N'Cerrada', N'nao', CAST(1200.00 AS Decimal(18, 2)))
INSERT [dbo].[Cajas] ([IdCaja], [FechaApertura], [FechaCierre], [MontoInicial], [TotalVentasEfectivo], [MontoFinal], [Estado], [UsuarioApertura], [TotalCompras]) VALUES (2, CAST(N'2026-08-05T17:40:43.087' AS DateTime), NULL, CAST(800.00 AS Decimal(18, 2)), CAST(1700.00 AS Decimal(18, 2)), CAST(1900.00 AS Decimal(18, 2)), N'Cerrada', N'amartinez', CAST(600.00 AS Decimal(18, 2)))
INSERT [dbo].[Cajas] ([IdCaja], [FechaApertura], [FechaCierre], [MontoInicial], [TotalVentasEfectivo], [MontoFinal], [Estado], [UsuarioApertura], [TotalCompras]) VALUES (3, CAST(N'2026-08-05T17:40:43.087' AS DateTime), NULL, CAST(1000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, N'Abierta', N'sofia', CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Cajas] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [NombreCategoria], [Descripcion]) VALUES (1, N'Cuidado Facial', N'Productos para limpieza e hidratación facial')
INSERT [dbo].[Categorias] ([IdCategoria], [NombreCategoria], [Descripcion]) VALUES (2, N'Maquillaje', N'Productos de maquillaje profesional')
INSERT [dbo].[Categorias] ([IdCategoria], [NombreCategoria], [Descripcion]) VALUES (3, N'Cuidado Capilar', N'Productos para el cuidado del cabello')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Citas] ON 

INSERT [dbo].[Citas] ([IdCita], [IdCliente], [IdServicio], [IdEmpleado], [Fecha], [Hora], [Estado], [Precio]) VALUES (1, N'0801199030303', 10, 1, CAST(N'2026-08-20' AS Date), CAST(N'17:00:11' AS Time), N'Confirmada', CAST(350.00 AS Decimal(10, 2)))
INSERT [dbo].[Citas] ([IdCita], [IdCliente], [IdServicio], [IdEmpleado], [Fecha], [Hora], [Estado], [Precio]) VALUES (2, N'0801199455555', 7, 3, CAST(N'2026-08-12' AS Date), CAST(N'10:00:04' AS Time), N'Pendiente', CAST(300.00 AS Decimal(10, 2)))
INSERT [dbo].[Citas] ([IdCita], [IdCliente], [IdServicio], [IdEmpleado], [Fecha], [Hora], [Estado], [Precio]) VALUES (3, N'0801199020202', 1, 6, CAST(N'2026-08-05' AS Date), CAST(N'17:51:31' AS Time), N'Confirmada', CAST(400.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Citas] OFF
GO
INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Telefono], [Correo], [Direccion], [TipoPiel]) VALUES (N'0801199010101', N'Daniel Mejía', N'93334444', N'daniel@gmail.com', N'Tocoa', N'Normal')
INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Telefono], [Correo], [Direccion], [TipoPiel]) VALUES (N'0801199020202', N'Valeria Cruz', N'92225555', N'valeria@gmail.com', N'Yoro', N'Mixta')
INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Telefono], [Correo], [Direccion], [TipoPiel]) VALUES (N'0801199030303', N'Gabriela Ortiz', N'91116666', N'gabriela@gmail.com', N'Puerto Cortés', N'Grasa')
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([IdCompra], [Fecha], [Total], [IdProveedor], [NombreEmpleado]) VALUES (1, CAST(N'2026-08-05T17:40:55.503' AS DateTime), CAST(1850.00 AS Decimal(18, 2)), 1, N'Nahomy Rivera')
INSERT [dbo].[Compras] ([IdCompra], [Fecha], [Total], [IdProveedor], [NombreEmpleado]) VALUES (2, CAST(N'2026-08-05T17:40:55.503' AS DateTime), CAST(2450.00 AS Decimal(18, 2)), 2, N'Nahomy Rivera')
INSERT [dbo].[Compras] ([IdCompra], [Fecha], [Total], [IdProveedor], [NombreEmpleado]) VALUES (3, CAST(N'2026-08-05T17:40:55.503' AS DateTime), CAST(980.00 AS Decimal(18, 2)), 3, N'Ana Martínez')
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompra] ON 

INSERT [dbo].[DetalleCompra] ([IdDetalle], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (4, 1, 1, 5, CAST(200.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleCompra] ([IdDetalle], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (5, 1, 2, 3, CAST(283.33 AS Decimal(18, 2)), CAST(850.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleCompra] ([IdDetalle], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (6, 2, 7, 5, CAST(300.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DetalleCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVenta] ON 

INSERT [dbo].[DetalleVenta] ([IdDetalle], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (5, 1, 1, 1, CAST(250.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVenta] ([IdDetalle], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (6, 1, 11, 1, CAST(210.00 AS Decimal(18, 2)), CAST(210.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVenta] ([IdDetalle], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (7, 1, 20, 1, CAST(130.00 AS Decimal(18, 2)), CAST(130.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Apellido], [Identidad], [Telefono], [Direccion], [Correo], [Usuario], [Contrasena], [TipoUsuario], [FechaRegistro], [Estado]) VALUES (1, N'Ana', N'Martínez', N'0801199500123', N'33445566', N'Tegucigalpa', N'ana@bramselu.com', N'amartinez', N'1234', N'Administrador', CAST(N'2026-08-05T17:39:33.510' AS DateTime), 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Apellido], [Identidad], [Telefono], [Direccion], [Correo], [Usuario], [Contrasena], [TipoUsuario], [FechaRegistro], [Estado]) VALUES (2, N'Laura', N'Pérez', N'0801199700456', N'33556677', N'Tegucigalpa', N'laura@bramselu.com', N'lperez', N'1234', N'Empleado', CAST(N'2026-08-05T17:39:33.510' AS DateTime), 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Apellido], [Identidad], [Telefono], [Direccion], [Correo], [Usuario], [Contrasena], [TipoUsuario], [FechaRegistro], [Estado]) VALUES (3, N'Nahomy', N'Rivera', N'0801199800567', N'94445566', N'Tegucigalpa', N'nahomy@bramselu.com', N'nao', N'1234', N'Administrador', CAST(N'2026-08-05T17:39:33.510' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [Marca], [Precio], [Stock], [FechaRegistro], [Imagen], [IdCategoria], [Categoria]) VALUES (1, N'Crema Hidratante Facial', N'Nivea', CAST(250.00 AS Decimal(10, 2)), 50, CAST(N'2026-08-05T17:39:45.450' AS DateTime), NULL, 1, N'Cuidado Facial')
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [Marca], [Precio], [Stock], [FechaRegistro], [Imagen], [IdCategoria], [Categoria]) VALUES (2, N'Gel Limpiador', N'Cetaphil', CAST(380.00 AS Decimal(10, 2)), 29, CAST(N'2026-08-05T17:39:45.450' AS DateTime), NULL, 1, N'Cuidado Facial')
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [Marca], [Precio], [Stock], [FechaRegistro], [Imagen], [IdCategoria], [Categoria]) VALUES (3, N'Protector Solar SPF50', N'La Roche Posay', CAST(550.00 AS Decimal(10, 2)), 25, CAST(N'2026-08-05T17:39:45.450' AS DateTime), NULL, 4, N'Protección Solar')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([IdProveedor], [NombreEmpresa], [Contacto], [Telefono]) VALUES (1, N'Cosméticos S.A.', N'Lucía Fernández', N'22334455')
INSERT [dbo].[Proveedores] ([IdProveedor], [NombreEmpresa], [Contacto], [Telefono]) VALUES (2, N'Distribuidora Belleza HN', N'Jorge Martínez', N'25447788')
INSERT [dbo].[Proveedores] ([IdProveedor], [NombreEmpresa], [Contacto], [Telefono]) VALUES (3, N'Dermocosméticos Honduras', N'Karla Mejía', N'22119988')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([IdServicio], [NombreServicio], [Descripcion], [Precio], [Duracion], [Estado]) VALUES (1, N'Limpieza Facial', N'Limpieza profunda con extracción', CAST(500.00 AS Decimal(10, 2)), 45, 1)
INSERT [dbo].[Servicios] ([IdServicio], [NombreServicio], [Descripcion], [Precio], [Duracion], [Estado]) VALUES (2, N'Tratamiento Antiacné', N'Tratamiento especializado para piel grasa', CAST(750.00 AS Decimal(10, 2)), 60, 1)
INSERT [dbo].[Servicios] ([IdServicio], [NombreServicio], [Descripcion], [Precio], [Duracion], [Estado]) VALUES (3, N'Hidratación Facial', N'Aplicación de mascarillas hidratantes', CAST(600.00 AS Decimal(10, 2)), 50, 1)
SET IDENTITY_INSERT [dbo].[Servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([IdVenta], [FechaVenta], [Total], [EfectivoRecibido], [Cambio], [IdCaja], [IdCliente]) VALUES (1, CAST(N'2026-08-05T17:41:27.583' AS DateTime), CAST(590.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 1, NULL)
INSERT [dbo].[Ventas] ([IdVenta], [FechaVenta], [Total], [EfectivoRecibido], [Cambio], [IdCaja], [IdCliente]) VALUES (2, CAST(N'2026-08-05T17:41:27.583' AS DateTime), CAST(840.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), CAST(160.00 AS Decimal(18, 2)), 1, NULL)
INSERT [dbo].[Ventas] ([IdVenta], [FechaVenta], [Total], [EfectivoRecibido], [Cambio], [IdCaja], [IdCliente]) VALUES (3, CAST(N'2026-08-05T17:41:27.583' AS DateTime), CAST(470.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(30.00 AS Decimal(18, 2)), 2, NULL)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
ALTER TABLE [dbo].[Cajas] ADD  DEFAULT (getdate()) FOR [FechaApertura]
GO
ALTER TABLE [dbo].[Cajas] ADD  DEFAULT ((0)) FOR [TotalVentasEfectivo]
GO
ALTER TABLE [dbo].[Cajas] ADD  DEFAULT ('Abierta') FOR [Estado]
GO
ALTER TABLE [dbo].[Cajas] ADD  DEFAULT ((0)) FOR [TotalCompras]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Clientes]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Empleados] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Empleados]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Servicios] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicios] ([IdServicio])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Servicios]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([IdProveedor])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compras] ([IdCompra])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas] ([IdVenta])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdCaja])
REFERENCES [dbo].[Cajas] ([IdCaja])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
USE [master]
GO
